#
# SPDX-FileCopyrightText: 2025 Alexey Illarionov and the wasm2class-gradle-plugin project contributors
# SPDX-License-Identifier: Apache-2.0
#

# Default ignored files
/*
!/.gitignore
!/IntelliLang.xml
!/codeInsightSettings.xml
!/copyright
!/detekt.xml
!/dictionaries
!/jsonSchemas.xml
